extends layout

block content
    div.navbar.navbar-inverse.navbar-fixed-top
        div.container
            div.navbar-header
                button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand #{title}
            div.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li: a(href='/buyer.html') Buyer Case
                    li: a(href='/seller.html') Seller Case
 
    div.container
        img.img-responsive.center-block(src='/title.png')
